/*
 * EasyMail theme
 */
body {
    /*padding-top: 110px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
	font-family: 'Open Sans', sans-serif !important;
}

a {
    color: #5ac5df;
}

a:hover {
    color: #0090b4;
    text-decoration: none;
}

.h3, h3 {
    font-size: 20px;
}

/* Navigation bar */
nav.navbar {
    border-top: 10px solid #0090b4;
	border-bottom: 1px solid #dee0df;
	min-height: 80px;
    background: #fff;
}

	nav.navbar a.brand {
		border-right: 1px solid #dee0df;
		float: left;
		line-height: 80px;
		padding: 0 30px;
	}

	nav.navbar .navbar-nav {
		margin: 14.5px -15px;
		font-size: 16px;
	}

		nav.navbar .navbar-nav > .active > a, nav.navbar .navbar-nav > .active > a:focus, nav.navbar .navbar-nav > .active > a:hover, nav.navbar .navbar-nav > li > a:hover, 
		nav.navbar .navbar-nav > .open > a, nav.navbar .navbar-nav > .open > a:focus, nav.navbar .navbar-nav > .open > a:hover, nav.navbar .navbar-nav > li > a:hover {
			background-color: #fff;
			color: #5ac5df;
		}
		
.navbar-default .navbar-toggle {
    background-color: #0090b4;
	border-color: #0095bb;
}
	
	.navbar-default .navbar-toggle:hover {
		background-color: #fff;
	}

		.navbar-default .navbar-toggle .icon-bar {
			background-color: #fff;
		}
	
		.navbar-default .navbar-toggle:hover .icon-bar {
			background-color: #0090b4;
		}

/* Switcher nav */
.switcher {
	padding: 0 15px;
	position: relative;
	float: right;		
}

	.switcher button {
		background-color: #0090b4;
		color: #fff;
		height: 40px;
	}	

	.switcher button:hover, .switcher button.open{
		background-color: #0f7f9b;
		color: #fff;
	}
	
	.switcher .dropdown-menu {
		border-radius: 3px;
		min-width: 75px;			
		left: auto;
		padding: 0;
		box-shadow: 0 1px 6px rgba(0,0,0,.1);
	}
		
			.switcher .dropdown-menu>li {
				border-bottom: 1px solid #f0f2f1;
			}

				.switcher .dropdown-menu>li>a {
					color: #777;
					padding: 10px 20px;
					text-align: center;
				}
				
	.btn-primary.active, .btn-primary.active.focus, .btn-primary.active:focus, .btn-primary.active:hover, 
	.btn-primary:active, .btn-primary:active.focus, .btn-primary:active:focus, .btn-primary:active:hover, 
	.open>.dropdown-toggle.btn-primary, .open>.dropdown-toggle.btn-primary.focus, .open>.dropdown-toggle.btn-primary:focus, .open>.dropdown-toggle.btn-primary:hover {
		background-color: #0f7f9b;
		color: #fff;
		border-color: #116b82;
	}
		
	.btn-group.open .dropdown-toggle {
		-webkit-box-shadow: none;
		box-shadow: none;
	}	
				
/* Sidebar menu */
#sidebar-menu {
    border-right: 1px solid #dee0df;
}

	#sidebar-menu .lead {
		font-size: 14px;
		margin-bottom: 0;
		border-bottom: 1px dashed #c1c1c1;
		padding-bottom: 7px;
		font-weight: 400;
	}

	#sidebar-menu a.list-group-item {
		border: 0;
		color: #5ac5df;
		background: #fff;
		padding: 7px 0px 0px 0px;
	}

		#sidebar-menu a.list-group-item:hover {
			color: #0090b4;
		}

/* Page */
.container {
    padding: 0 20px;
}

.starter-template {
  padding: 40px 15px;
  text-align: center;
}

ul.list-content  li{
	font-weight: bold;
}

	ul.list-content  li span.n-sign{
		font-style: italic;
		color: #aee2fe;
		font-weight: 700;
	}

	ul.list-content  li ol {
		font-weight: normal;
	}

		ul.list-content  li ol span.n-sign{
			font-size: 12px;
			font-weight: normal;
		}

h2 span.n-sign {
	color: #aee2fe;
    font-weight: lighter;
}

.go-to-top {
	position: fixed;
    bottom: 20px;
    right: 20px;
}

.ask-question {
    position: fixed;
    top: 0;
    right: 0;
    background-color: #4fcfef;
    border-radius: 2px;
    padding: 10px;
    width: 100%;
    color: #fff;
    font-size: 12px;
	z-index: 1000;
	opacity: 0.9;
}
	.ask-question a {
		color: #157d97;
	}
	
	.ask-question a:hover {
		color: #0d404d;
	}
	
@media (max-width: 800px) {
	.big-logo {
		width: 300px;
	}
}

.lead-left {
	text-align: left;
}

ul.no-style {
	list-style: none;
}

ul.aligned-left {
	text-align: left;
}
	
.red {
	color: #df1c1c;
}

.logos {
	text-align: center;
	margin-top: 45px;
}

	.logos img:not(:last-child) {
		margin-right: 20px;
	}

	/* Callout */
.callout.rule {
    border-bottom: 1px solid #dee0df;
    color: #5ac5df;
    text-align: center;
    font-size: 13px;
    margin: 60px 0;
	font-weight: 700;
	letter-spacing: 2px;
    text-transform: uppercase;
}

.callout.rule, .callout.rule .text  {
    position: relative;
}

	.callout.rule .text {
		top: 9px;
		background: #fff;
		padding: 0 20px;
	}

	/* Packages */
.packages {
    margin: 0 -15px 30px;
    display: -webkit-box;
    display: flex;
}

	.packages .package {
		margin-bottom: 30px;
		display: -webkit-box;
		display: flex;
	}

		.packages .package .icon {
			margin: 5px 10px 0 0;
		}

		.packages .package .content {
			-webkit-box-flex: 1;
			flex: 1;
			padding-right: 15px;
		}

		.packages .package .package-title {
			color: #444;
			display: inline-block;
			font-size: 21px;
			margin-bottom: 5px;
		}

		.packages .package p {
			color: #6d7986;
			font-size: 15px;
			line-height: 1.6;
			margin: 0;
		}

	.packages .third:not(:last-child) {
		border-right: 2px solid #f0f1f3;
	}

.third {
    min-height: 1px;
    margin-right: 15px;
    margin-left: 15px;
    flex-basis: 33.333333%;
	position: relative;
}

@media (max-width: 800px) {
	.packages {
		flex-wrap: wrap;
	}
}

@media (max-width: 800px) {
	.packages .third {
		border: none!important;
	}
}

@media (max-width: 800px) {
	.third {
		flex-basis: 100%;
	}
}

@media (max-width: 800px) {
	.packages .package {
		border-bottom: 1px solid #f0f1f3;
		padding-bottom: 15px;
	}
}

/* Footer */
footer {
    background: #fafafa;
    padding: 35px 20px;
    text-align: center;
}

ul.navigation a {
    color: #636363;
}

	ul.navigation a:hover {
		color: #5ac5df;
		text-decoration: none;
	}

ul.social-buttons li a {
    display: block;
    background-color: #5a5a5a;
    height: 40px;
    width: 40px;
    border-radius: 100%;
    font-size: 20px;
    line-height: 40px;
    color: white;
    outline: none;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

	ul.social-buttons li a:hover {
		background-color: #848484;
	}